/node_modules
/oh_modules
/.preview
/build
/.cxx
/.test
**/IDL_Dependencies_List~
**/build-script-cache
ark_interop_api
/src/main/cangjie/types
/src/main/cangjie/IDL_Custom_Type_Whitelist~
/oh-package-lock.json5
/cjpm.lock
/BuildProfile.ets
/stdx_bin